/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: sans-serif;

  --sl-color-primary-50: rgb(254 248 253);
  --sl-color-primary-100: rgb(251 230 249);
  --sl-color-primary-200: rgb(248 211 245);
  --sl-color-primary-300: rgb(244 189 240);
  --sl-color-primary-400: rgb(240 159 234);
  --sl-color-primary-500: #e973e0;
  --sl-color-primary-600: #e973e0;
  --sl-color-primary-700: rgb(176 58 167);
  --sl-color-primary-800: rgb(146 48 138);
  --sl-color-primary-900: rgb(104 34 99);
  --sl-color-primary-950: rgb(65 21 62);
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #0f0d23;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: white;
    color: black;
  }
}
